body{
    padding: 10px;
    font: normal 15pt Arial;
    background-color: rgb(169, 235, 255);
}

header {
    text-align: center;
}

section {
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    width: 600px;
    margin: auto;
    box-shadow: #a8a8a8 1px 1px 5px;
}

footer {
    text-align: center;
    font-style: italic;
}

div {
    text-align: center;
    padding: 10px;
}

div#foto img{
    border-radius: 100%;
    width: auto;
    text-align: center;
}